{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.status) }}
    {{ form_row(form.text) }}
    {{ form_label(form.photo_filename) }}
    {% if post.photo_filename|default(null) %}
        <p>Current photo:</p>
        <div class="container-fluid d-flex justify-content-center">
            <img src="{{ asset('uploads/photos/' ~ post.photoFilename) }}"
                 alt="The photo associated with post {{ post.id }}."
                 class="img-fluid">
        </div>
    {% endif %}
    {{ form_widget(form.photo_filename) }}
    {{ form_help(form.photo_filename) }}
    {{ form_errors(form.photo_filename) }}

    {{ form_row(form._token) }}

    <div class="d-flex justify-content-center mt-5 gap-3">
        <button name="submitbtn" type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a class="btn btn-primary" href="{{ path('post_index') }}">Back to overview</a>
    </div>
{{ form_end(form) }}